<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>

</head>

<body>
  <%- include('navbar') %>

    <div class="main">
      <!-- vertical center -->
      <div class="main d-flex justify-content-center align-items-center mt-5">
        <div class="col-md-5 shadow border border-1 p-4 rounded py-5">
          <h4 class="text-center">Welcome to Trip Mate</h4>
          <p>
            <%- message %>
          </p>
          <form action="/signup" method="POST">

            <!-- role user, driver, admin -->
            <div class="form-group">
              <label for="role">Role</label>
              <select name="role" id="role" class="form-control" required>
                <option value="">Select role</option>
                <option value="user">User</option>
                <option value="driver">Driver</option>
                <option value="admin">Admin</option>
              </select>
            </div>

            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" required>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Enter password"
                required>
            </div>

            <!-- first_name, last_name, mobile, address -->
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Enter first name"
                required>
            </div>

            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Enter last name"
                required>
            </div>

            <div class="form-group">
              <label for="mobile">Mobile</label>
              <input type="text" name="mobile" id="mobile" class="form-control" placeholder="Enter mobile" required>
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <textarea name="address" id="address" cols="30" rows="5" class="form-control" placeholder="Enter address"
                required></textarea>
            </div>

            <div class="form-group mt-3">
              <button type="submit" class="btn btn-dark">Signup</button>
            </div>

            <!-- dont have an account -->
            <div class="form-group mt-3">
              <p class="text-center">Already have an account? <a href="/">Login</a></p>
            </div>
          </form>
        </div>

      </div>
    </div>



    <%- include('footer') %>
</body>

</html>